@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Kanit', sans-serif;
  background: url(https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  font-size: 60px;
  text-transform: uppercase;
  
/*  Positioning only  */
  
  left: 50%;
  transform: translateX(-50%);
  top: 380px;
  padding: 0 .2em;
  
/*  Decoration trick  */
  
  background: white;
  color: black;
  mix-blend-mode: screen;
}

h2 {
  position: absolute;
  font-size: 50px;
  text-transform: uppercase;
  
/*  Positioning only  */
  
  left: 50%;
  transform: translateX(-50%);
  top: 280px;
  padding: 0 .2em;
  
/*  Decoration trick  */
  
  background: black;
  color: white;
  mix-blend-mode: multiply;
}

@media (max-width: 450px){
  h1 {
    font-size: 1.7 rem;
  }
  
  h2 {
    font-size: 1.3rem;
  }
}