/* body {
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    background: black !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  } */

.arithmetic {
    background-color: white;
      background: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 480px;
      padding: 0 .2em;
      text-align: center;
    }

    .odd {
        background-color: white;
        background: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 710px;
        padding: 0 .2em;
        text-align: center;
    } 